
.container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  /* width: 100vw; */
  height: auto;
  /* border: 1px solid black; */
}

.product{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 30%;
  border: 1px solid black;
  margin: 1.5em;
  padding: 10px;
}

.productDetails{
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;

}
.productDetails :first-child{
  font-weight: 400;
}


.product-images {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .product-image {
    max-width: 90%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the entire space while maintaining aspect ratio */
  }
  
.product h2 {
  font-size: 1.3em;
  font-weight: 430;
}

.product p {
  font-size: 1em;
  font-weight: 250;
}
.buttonCont{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 10px; */
  /* border: 1px solid black; */
  height: 3em;

}
.product-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 2.5em;
  width: 6em;
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: #45a9e4;
  cursor: pointer;
  color: white;
  font-size: 1em;
}

.product-button:hover{
  background-color: #2f7eb8;
}