


.container {
  /* position: relative; */
  width: auto;
  height: 20rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  border-radius: 1rem;
}

.container img {
  /* width: inherit;
  height: 100%; */
  /* object-fit: cover; */
  transition: all 0.5s ease;
  border-radius: 1rem;
}