

.container {
    position: fixed;
    top: 4.5rem;
    right: 1px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;

}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.account {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* margin-bottom: 1rem; */
}

.accountDetails {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 450;
    cursor: pointer;
}

.accountDetails h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}